---
const { name } = Astro.props
---


<main class="bg-transparent">
    <label class="bg-transparent  flex items-center">
        <input type="checkbox" />
        <p class="bg-transparent ml-1">{name}</p>
    </label>
</main>